/* Fuente personalizada de Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa; /* gris claro */
  color: #212529; /* gris oscuro */

}

.restaur{
 background-image: url('mejores-paginas-web-para-restaurante.webp');
      background-size: cover;       /* Hace que cubra toda la pantalla */
      background-position: center;  /* Centra la imagen */
      background-repeat: no-repeat; /* Evita que se repita */
      height: 100%;                /* Altura de la pantalla completa */
      margin: 0;
}


.oci{
 background-image: url('bolerea.jpeg');
      background-size: cover;         
      background-position: center;   
      background-repeat: no-repeat;   
      height: 100vh;                
      margin: 0;
}


/* Títulos */
h1, h2, h3, .card-title {
  font-weight: 600;
}

h1{
  color: white;
}

/* Card estilo */
.card {
  border: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 1rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.15);
}

/* Botones */
.btn-primary {
  background-color: #007bff;
  border: none;
  font-weight: 600;
  border-radius: 0.5rem;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-outline-primary {
  border-color: #007bff;
  color: #007bff;
  font-weight: 500;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: white;
}

/* Modal */
.modal-content {
  border-radius: 1rem;
}

.modal-body img {
  display: block;            /* Para que funcione margin auto */
  margin: 0 auto 20px auto;  /* Centrado horizontal y espacio abajo */
  width: 400px;              /* Tamaño fijo (puedes ajustar) */
  height: auto;              /* Mantiene proporción */
  max-width: 100%;           /* Evita que se salga del modal en pantallas pequeñas */
}


/* Imágenes */
.card-img-top {
  border-radius: 1rem 1rem 0 0;
  background-color: white;
  
}

.card-img-top:hover{
  cursor: pointer;
}







.sobre-nosotros-link {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  list-style: none;
}

.sobre-nosotros-link .nav-link {
  background-color: grey;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
}

.sobre-nosotros-link .nav-link:hover {
  background-color: #0056b3;
  color: #ffffff;
}


